body{
  display: flex;
  min-height: 97vh;
  justify-content: center;
  place-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}
title {
  display: none;
}
.login{
	font-family:arial;
}
.login-success{
	font-family: arial;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.login .logo{
	display:block;
	margin:0 auto 30px
}
.login a,.login a:visited{
	text-decoration:underline;
	color:inherit
}
ul.notice{
	margin:30px auto;
	width:300px;
	text-align:center;
	list-style-position:inside;
	font-size:15px;
	padding:20px 30px;
	border-radius:3px
}
ul.notice.errors{
	background-color:#fff4f4;
	border:1px solid #f50909;
	color:#f50909
}
ul.notice.success{
	background-color:#d7eacd;
	border:1px solid #6fae4f;
	color:#6fae4f
}
ul.notice li{
	padding:5px 0
}
.vertical-form{
	margin:0 auto
}
.vertical-form legend{
	width:100%;font-size:24px;
	font-weight:500;
	text-align:center;
	margin:0 0 30px 0
}
.vertical-form input[type='text'],.vertical-form input[type='password'],.vertical-form input[type='number']{
	border:1px #c1c1c1 solid;
	color:#c1c1c1;
	height:50px;
}
.vertical-form input[type='text'],.vertical-form input[type='password']{
	margin: 0rem auto 0.5rem -7.8rem;
	width:245px;
	text-align:center;
	border-radius:3px;
	color:#2d2d2d;
	outline:none;
	font-family:inherit;
	position: absolute;
}
.vertical-form input[type='submit'],.vertical-form input[type='number']{
	display:block;
	margin:0 auto 10px auto;
	width:245px;
	text-align:center;
	border-radius:3px;
	color:#2d2d2d;
	outline:none;
	font-family:inherit
}
.vertical-form input[type='submit']{
	color:#fff;
	background:#4aae1b;
	border:none;
	height:57px;
	width:250px;
	font-size:15px;
	font-weight:400;
	outline:0;
	text-transform:uppercase;
	letter-spacing:1.5px;
	cursor:pointer;
	margin-top: 4rem;
}
.vertical-form input:hover[type='submit']{
	background-color:#84c400;
	-webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.vertical-form .footer{
	text-align:center;
}
.vertical-form .footer p:first-child{
	color:#222;
}
.vertical-form .footer h5:first-child{
	color:#222;
}
.vertical-form .footer strong:last-child{
	color:#ff0000;
	font-size: 0.8rem;
	font-weight: bold;
}
.vertical-form .footer a:first-child{
	border-bottom:solid 1px #ccc;
	text-decoration:none
}
.vertical-form .footer p:nth-child(2) a{
	border-bottom:solid 1px #000
}
@media (max-width:768px){
	.alert.showAlert{zoom: 70%;}
	.vertical-form legend{padding:25px 0 0 0}
}
.loader {
	margin: 60px auto;
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 1.1em solid rgba(145,145,146, 0.2);
	border-right: 1.1em solid rgba(145,145,146, 0.2);
	border-bottom: 1.1em solid rgba(145,145,146, 0.2);
	border-left: 1.1em solid #919192;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
}
.loader,.loader:after {
	border-radius: 50%;
	width: 10em;
	height: 10em;
}
@-webkit-keyframes load8 {0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}}
@keyframes load8 {0% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}100% {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}}

.loadpage {
	vertical-align: middle;
	background-color: white;
	text-align: center;
	margin: 10rem 0rem 0rem 0rem;
}

.legend, p {
	font-size: 1rem;
}

.legend, span {
	font-size: 0.9rem;
	font-weight: bold;
	text-transform: uppercase;
	color:red;
}

textarea,input,select {
	background-color: #FDFBFB;border: 1px #BBBBBB solid;
	padding: 2px;
	margin: 1px;
	font-size: 14px;
	color: #808080;
}
body{
	font-size: 15px;
	font-family: verdana;
}
a, a:link, a:visited, a:active {
	color: #AAAAAA;
	text-decoration: none;
	font-size: 12px;
}
a:hover {
	border-bottom: 1px dotted #c1c1c1;
	color: #AAAAAA;
}
img {
	border: none;
}
td {
	font-size: 12px;
	color: #7A7A7A;
}
.center {
	margin: auto;
	display: flex;
    align-items: center;
    flex-direction: column;
}

.inputBox {
    position: relative;
}
              
.inputBox input {
    font-size: 1rem;
    letter-spacing: 0.062rem;
    margin-bottom: 1.875rem;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
}
              
.inputBox label {
	position: absolute;
	top: 9px;
	left: -105px;
    padding: 0.625rem 0;
    font-size: 1rem;
    color: grey;
    pointer-events: none;
    transition: 0.15s;
}
.inputBox input:not([value=""]) ~ label {
	top: -1.125rem;
	left: -115px;
	color: grey;
	font-size: 0.75rem;
	background-color: white;
	height: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.inputBox input:focus ~ label {
	top: -1.125rem;
	left: -115px;
	color: #4aae1b;
	font-size: 0.75rem;
	background-color: white;
	height: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.inputBox input:focus {
    outline: none;
	border: 2px solid #4aae1b;
	padding: 1px;
}
.alert{
	background: #ffdb9b;
	padding: 15px 35px;
	position: absolute;
	right: 0;
	top: 10px;
	border-radius: 4px;
	border-left: 8px solid #ffa502;
	overflow: hidden;
	opacity: 0;
	pointer-events: none;
}
.alert.showAlert{
	opacity: 1;
	pointer-events: auto;
}
.alert.show{
	animation: show_slide 1s ease forwards;
}
@keyframes show_slide {
	0%{
	  transform: translateX(100%);
	}
	40%{
	  transform: translateX(-10%);
	}
	80%{
	  transform: translateX(0%);
	}
	100%{
	  transform: translateX(-10px);
	}
}
.alert.hide{
	animation: hide_slide 1s ease forwards;
}
@keyframes hide_slide {
	0%{
	  transform: translateX(-10px);
	}
	40%{
	  transform: translateX(0%);
	}
	80%{
	  transform: translateX(-10%);
	}
	100%{
	  transform: translateX(100%);
	}
}
.alert .fa-exclamation-circle{
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
	color: #ce8500;
	font-size: 30px;
}
.alert .msg{
	padding: 0 20px;
	font-size: 18px;
	color: #ce8500;
}
.alert .close-btn{
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	background: #ffd080;
	padding: 20px 18px;
	cursor: pointer;
}
.alert .close-btn:hover{
	background: #ffc766;
}
.alert .close-btn .fas{
	color: #ce8500;
	font-size: 22px;
	line-height: 40px;
}

/* Cookie CSS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.wrapper{
  position: fixed;
  display: flex;
  min-height: 115%;
  min-width: 100%;
  z-index: 1;
  align-items: center; /* for unsupported browser */
  left: 0;
  justify-content: center;
  place-items: center;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.93); /* fallback color */
  backdrop-filter: blur(10px) grayscale(50%); /* supported property */
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
	.wrapper {
	  background-color: transparent; /* remove fallback color */
	  -webkit-backdrop-filter: blur(10px) grayscale(50%);
	  backdrop-filter: blur(10px) grayscale(50%);
	}
}
.wrapper.hide{
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
  z-index: -2 !important;
}
.wrapper img{
  max-width: 90px;
}
.content header{
  font-size: 25px;
  font-weight: 600;
}
.content{
  margin-top: 10px;
}
.content p{
  margin: 5px 0 20px 0;
}
::selection{
  color: #fff;
  background: #84c400;
}
.content .buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button{
  padding: 10px 20px;
  border: none;
  outline: none;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background: #4aae1b;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons button:hover{
  transform: scale(0.97);
  color: #fff;
}
.buttons .item{
  margin: 0 10px;
}
.buttons a{
  color: #4aae1b;
}
/* Loading CSS */
#loading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
#loading-image {
    z-index: 100;
}
#loading.fade-out {
    opacity: 0;
}
/* script API intergram CSS */
#intergramRoot {
	z-index: 0 !important;
  }